{% extends 'details/base.html'%}

{% block content %}

<center>
    <h1>Jobs Details</h1>

    {% if user.is_authenticated %}

    <div class="container">



                    {% for job in jobs_list %}
                    <div class="row-lg m-5">
                      <div class="card">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Job Description</th>
                                <td>{{ job.description }}</td>
                            </tr>
                            <tr>
                                <th>Job Qualifications</th>
                                <td>{{ job.qualifications }}</td>
                            </tr>
                            <tr>
                              <th>Resume Specifications (Optional)</th>
                              <td>{{ job.specifications }}</td>
                          </tr>
                            </tbody>
                        </table>


                    <div class="card-body">
                        <a href="{% url 'remove-jobs' job.id %}" class="card-link btn btn-warning">Remove Job</a>
                        <a href="{% url 'update-jobs' job.id %}" class="card-link btn btn-warning">Update Job</a>
                        <a href="{% url 'view-res' job.id %}" class="card-link btn btn-warning">Generate Resume</a>
                    </div>
        
                  </div>
                </div>
                {% endfor %}
            </div>

               
    
    {% else %}

      <h2> You need to be authenticated to access this page!</h2>

    {% endif %}

</center>

{% endblock %}