{% extends 'details/base.html'%}

{% block content %}

<center>
    <h1>Jobs Details</h1>

    {% if user.is_authenticated %}

      <br>

      {% for job in jobs_list %}

          <br>

          <div class="card" style="width: 50rem;">
              <ul class="list-group list-group-flush">
                <h5>Description</h5>
                <li class="list-group-item">{{ job.description }} </li>
                <h5>Qualifications</h5>
                <li class="list-group-item">{{ job.qualifications }} </li>
                <div class="card-body">
                  <a href="{% url 'view-res' job.id %}" class="card-link">Create Job Resume</a>
                  <a href="{% url 'remove-jobs' job.id %}" class="card-link">Remove Job</a>
                </div>
              </ul>
            </div>

          <br>

      {% endfor %}
    
    {% else %}

      <h2> You need to be authenticated to access this page!</h2>

    {% endif %}

</center>

{% endblock %}