{% extends 'details/base.html'%}

{% block content %}

<center>
    <h1>Education Details</h1>

    {% if user.is_authenticated %}

      <br>

      {% for educ in educ_list %}

          <br>

          <div class="card" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Degree: {{ educ.degree }}</li>
                <li class="list-group-item">Major: {{ educ.major }} </li>
                <li class="list-group-item">Institution: {{ educ.institution }} </li>
                <li class="list-group-item">Start Date: {{ educ.start_date }}</li>
                <li class="list-group-item">End Date: {{ educ.end_date }} </li>
                <li class="list-group-item">Coursework: {{ educ.coursework }} </li>
                <li class="list-group-item">GPA: {{ educ.gpa }} </li>
                <div class="card-body">
                  <a href="{% url 'update-education' educ.id %}" class="card-link">Update Education</a>
                  <br>
                  <br>
                  <a href="{% url 'remove-education' educ.id %}" class="card-link">Remove Education</a>
                </div>
              </ul>
            </div>

          <br>

      {% endfor %}
    
    {% else %}

      <h2> You need to be authenticated to access this page!</h2>

    {% endif %}

</center>

{% endblock %}