{% extends 'details/base.html'%}

{% block content %}

    <h1 align="center">Update Education Details</h1>

    {% if user.is_authenticated %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-7">

            <form action="" method="post" class="shadow p-3 mb-5 bg-white rounded">

                {% csrf_token %}

                {{ form.as_p }}

                <center><input type="submit" value="Submit" class="btn btn-warning"></center>

            </form>

            </div>
            </div>
            </div>
    
    {% else %}

        <h2> You need to be authenticated to access this page!</h2>

    {% endif %}


</center>

{% endblock %}